@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

:root {
  --background: 24 24 27;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --primary-color: #FF5722;
  --secondary-color: #FF8A65;
  --accent-color: #FFA000;
  --text-color: #1F2937;
  --light-bg: #F3F4F6;
  --white: #FFFFFF;
  --dark-bg: #111827;
  --transition: all 0.3s ease;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

#__next {
  height: 100%;
}