@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

#__next {
  height: 100%;
}